[MAIN]
load-plugins=

[MESSAGES CONTROL]
disable=
    C0103, # invalid-name
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    E1102, # not-callable (pylint false positive for sqlalchemy func)
    R0801, # duplicate-code
    R0903, # too-few-public-methods
    R0913, # too-many-arguments
    R0914, # too-many-locals
    R0917, # too-many-positional-arguments
    W0613, # unused-argument

[FORMAT]
max-line-length=120
